# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [47]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_maps_key

# Configure gmaps
gmaps.configure(api_key=g_maps_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [48]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,71.9667,102.5000,-28.48,97,100,1.52,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,53.71,35,20,31.07,few clouds
2,2,Mataura,NZ,-46.1927,168.8643,58.48,69,89,4.16,overcast clouds
3,3,Henties Bay,NaN,-22.1160,14.2845,62.87,75,100,7.38,overcast clouds
4,4,Torbay,CA,47.6666,-52.7314,36.27,92,40,10.36,shower rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [49]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [50]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Aripuana,BR,-9.1667,-60.6333,81.66,69,95,0.51,light rain
8,8,Itarema,BR,-2.9248,-39.9167,79.77,75,74,15.68,broken clouds
12,12,West Bay,KY,19.3667,-81.4167,87.87,72,40,12.66,scattered clouds
16,16,Siyabuswa,ZA,-25.1132,29.0445,77.32,34,71,5.12,broken clouds
22,22,Katherine,AU,-14.4667,132.2667,77.32,100,100,0.00,overcast clouds
23,23,Cabedelo,BR,-6.9811,-34.8339,81.27,78,90,10.09,overcast clouds
27,27,Cayenne,GF,4.9333,-52.3333,84.24,70,0,2.30,clear sky
28,28,Hilo,US,19.7297,-155.0900,83.25,72,40,4.61,scattered clouds
29,29,Navolato,MX,24.7672,-107.6944,86.63,43,98,8.81,overcast clouds
30,30,Kapaa,US,22.0752,-159.3190,80.58,79,40,17.27,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [51]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Aripuana,BR,-9.1667,-60.6333,81.66,69,95,0.51,light rain
8,8,Itarema,BR,-2.9248,-39.9167,79.77,75,74,15.68,broken clouds
12,12,West Bay,KY,19.3667,-81.4167,87.87,72,40,12.66,scattered clouds
16,16,Siyabuswa,ZA,-25.1132,29.0445,77.32,34,71,5.12,broken clouds
22,22,Katherine,AU,-14.4667,132.2667,77.32,100,100,0.00,overcast clouds

In [52]:
clean_travel_cities.isna().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [53]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

         City Country  Max Temp Current Description      Lat       Lng
6    Aripuana      BR     81.66          light rain  -9.1667  -60.6333
8     Itarema      BR     79.77       broken clouds  -2.9248  -39.9167
12   West Bay      KY     87.87    scattered clouds  19.3667  -81.4167
16  Siyabuswa      ZA     77.32       broken clouds -25.1132   29.0445
22  Katherine      AU     77.32     overcast clouds -14.4667  132.2667
23   Cabedelo      BR     81.27     overcast clouds  -6.9811  -34.8339
27    Cayenne      GF     84.24           clear sky   4.9333  -52.3333
28       Hilo      US     83.25    scattered clouds  19.7297 -155.0900
29   Navolato      MX     86.63     overcast clouds  24.7672 -107.6944
30      Kapaa      US     80.58          light rain  22.0752 -159.3190

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [54]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Aripuana,BR,81.66,light rain,-9.1667,-60.6333,
8,Itarema,BR,79.77,broken clouds,-2.9248,-39.9167,
12,West Bay,KY,87.87,scattered clouds,19.3667,-81.4167,
16,Siyabuswa,ZA,77.32,broken clouds,-25.1132,29.0445,
22,Katherine,AU,77.32,overcast clouds,-14.4667,132.2667,
23,Cabedelo,BR,81.27,overcast clouds,-6.9811,-34.8339,
27,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,
28,Hilo,US,83.25,scattered clouds,19.7297,-155.0900,
29,Navolato,MX,86.63,overcast clouds,24.7672,-107.6944,
30,Kapaa,US,80.58,light rain,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [55]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_maps_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [56]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Aripuana,BR,81.66,light rain,-9.1667,-60.6333,NaN
8,Itarema,BR,79.77,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
12,West Bay,KY,87.87,scattered clouds,19.3667,-81.4167,Calypso Cove
16,Siyabuswa,ZA,77.32,broken clouds,-25.1132,29.0445,Survivor Africa Game Lodge
22,Katherine,AU,77.32,overcast clouds,-14.4667,132.2667,Pine Tree Motel
23,Cabedelo,BR,81.27,overcast clouds,-6.9811,-34.8339,Pousada Camboinha
27,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
28,Hilo,US,83.25,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Navolato,MX,86.63,overcast clouds,24.7672,-107.6944,Cofradía de San pedro Navolato sinaloa
30,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [62]:
# Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Itarema,BR,79.77,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
12,West Bay,KY,87.87,scattered clouds,19.3667,-81.4167,Calypso Cove
16,Siyabuswa,ZA,77.32,broken clouds,-25.1132,29.0445,Survivor Africa Game Lodge
22,Katherine,AU,77.32,overcast clouds,-14.4667,132.2667,Pine Tree Motel
23,Cabedelo,BR,81.27,overcast clouds,-6.9811,-34.8339,Pousada Camboinha

In [63]:
clean_hotel_df.count()

City                   184
Country                184
Max Temp               184
Current Description    184
Lat                    184
Lng                    184
Hotel Name             184
dtype: int64

In [64]:
clean_hotel_df.isna().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [65]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [66]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [67]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Calypso Cove</dd>\n<dt>City</dt><dd>West Bay</dd>\n<dt>Country</dt><dd>KY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Survivor Africa Game Lodge</dd>\n<dt>City</dt><dd>Siyabuswa</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pine Tree Motel</dd>\n<dt>City</dt><dd>Katherine</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Camboinha</dd>\n<dt>City</dt><dd>Cabedelo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 83.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cofradía de San pedro Navolato sinaloa</dd>\n<dt>City</dt><dd>Navolato</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 80.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.29 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [68]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8   -2.9248  -39.9167
12  19.3667  -81.4167
16 -25.1132   29.0445
22 -14.4667  132.2667
23  -6.9811  -34.8339
27   4.9333  -52.3333
28  19.7297 -155.0900
29  24.7672 -107.6944
30  22.0752 -159.3190
34  17.0151   54.0924

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [69]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))